.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.jdt/restful-web-services.container
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.fdx
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.fdt
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/restful-web-services/2019/10/40/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/restful-web-services/2019/10/40/refactorings.history
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/18.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/17.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/16.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/15.png
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.debug.core/.launches/restful-web-services - RestfulWebServicesApplication.launch
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/restful-web-services/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/restful-web-services/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/restful-web-services/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/restful-web-services/.indexes/e4/b9/db/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/restful-web-services/.indexes/e4/b9/22/81/d6/d4/4e/e9/cb/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/restful-web-services/.indexes/e4/b9/22/81/d6/d4/4e/e9/c7/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/restful-web-services/.indexes/e4/b9/22/81/d6/d4/4e/e9/9c/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/restful-web-services/.indexes/e4/b9/22/81/d6/d4/4e/e9/26/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/restful-web-services/.indexes/e4/b9/22/81/d6/d4/4e/e9/1b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/restful-web-services/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.history/fe/d065781b07e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/f1/908c53880fe400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/f1/503e467612e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/f0/e061fd2a0ce400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ed/d090f41312e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ec/e087f8f010e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ec/80ff35e30fe400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ec/602444ce11e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ec/301ee22615e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ea/60b81d5419e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ea/50c257fc05e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ea/10c459cc12e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/e8/40637b5a16e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/e7/f0a98f1311e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/e5/f0b1f96218e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/e5/a09da75c0ce400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/e4/f09719480fe400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/e2/d0a6472119e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/e1/a011067c06e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/e/50a1e30e01e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/df/202e08ed00e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/de/d0d338c20ee400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/dc/1037fca505e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/d8/f0526ddb12e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/d4/0045b96201e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/d1/20e5c43d19e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/d0/804ba7bd13e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/d0/60bd56f80ee400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/cf/304e417f00e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ce/e037cc0406e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ce/d0ef2d9b01e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/c4/d073661615e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/c3/708780f210e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/bf/d0fb9fec13e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/bc/b065ecd818e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/b7/f01ba68615e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/b3/0002908900e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/af/802378c512e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ad/9037603e15e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ac/50ecea5f0de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/ab/60ad748500e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/a9/306fbb0b15e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/a2/9098e60110e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/a0/50a7b63902e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/9f/40aaa78711e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/9f/3091985c06e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/9c/b079ad940fe400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/9c/a03387810de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/98/b04c6a190fe400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/91/f076efca18e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/91/a0c1d9170fe400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/8d/00b6c93601e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/8c/8091390a12e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/88/30d3e6380de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/87/f0d128ef05e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/85/30da7e930ee400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/84/e0ac331e15e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/84/d0e53e0b0de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/82/508eb99516e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/80/d030237712e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/8/505c81fb01e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/7e/c057c2190fe400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/7d/b0e498f200e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/7d/5082c90412e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/79/c03e1bfd18e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/76/d003ce6a00e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/71/60c3cf8b01e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/71/00ccf94006e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/7/708860a405e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/6e/5065957001e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/6d/e0ad4e1101e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/6c/60b43cfb10e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/6b/d0ec0a100de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/6b/808963de07e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/6a/c07c6e3202e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/65/c0f9e44e01e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/63/200286a10ee400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/62/1034816500e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/5b/c0758f860ce400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/5b/a0e04a750de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/5b/60ec6b0e19e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/56/909bf63f00e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/56/208ca1b103e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/54/70ad83400de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/53/5044af6a18e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/52/80db767d0de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/50/a090b1d211e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/4f/40b5f1810de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/4e/00904e1316e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/4c/20682cbc0fe400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/47/10cc33870ce400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/45/60095a1412e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/45/2083de6106e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/3e/20850a7d0de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/3c/907b975c0de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/3c/60f7390512e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/3b/e0f78c6e11e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/3a/909a769607e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/39/1054595414e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/38/70cd5a0916e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/37/70f4d4340de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/36/50f7d91d19e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/35/a0242fa316e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/34/a08de8210ce400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/33/b048df2901e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/30/20a07f7011e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/3/6098a1a905e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/2b/40902b3900e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/2b/00e7bce000e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/29/9088418d11e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/29/709aec710de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/27/90e1ff8015e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/24/90160cf901e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/23/f02f787806e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/21/300381e900e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/2/20d1d34818e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/1f/a05741aa01e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/1d/902ed19f00e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/1c/d0e5438411e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/1c/20201f640de400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/1a/f04c02940ce400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/18/406ab77701e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/14/b0bc83b917e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/13/f0c0742d00e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/13/d01a643a01e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/12/e00b382118e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/11/302e4fda11e400191d41c322cd7297d5
.metadata/.plugins/org.eclipse.core.resources/.history/11/0014e81d0ce400191d41c322cd7297d5
.metadata/.log
