# Docker Compose file Reference (https://docs.docker.com/compose/compose-file/)

version: '3.7'

# Define services
services:
  # App backend service
  app-server:
    # Configuration for building the docker image for the backend service
    build:
      context: restful-web-services # Use an image built from the specified dockerfile in the `polling-app-server` directory.
      dockerfile: Dockerfile
    volumes:
      - /data/RestfulWebServicesApplication
    expose:
      - "8000"
    ports:
      - "8080:8080" # Forward the exposed port 8080 on the container to port 8080 on the host machine
    restart: always
    depends_on:
      - db # This service depends on mysql. Start that first.
    environment: # Pass environment variables to the service
      DATABASE_HOST: db
      DATABASE_USER: root
      DATABASE_PASSWORD: 2c3nx48wvuwxwIo6
      DATABASE_NAME: javabinks
      DATABASE_PORT: 3306
    networks: # Networks to join (Services on the same network can communicate with each other using their name)
      - backend
      - frontend

  # Frontend Service
  app-client:
    build:
      context: frontend/todo-app
      dockerfile: Dockerfile
    expose:
      - "3000"
    ports:
      - "80:3000"
    restart: always
    depends_on:
      - app-server
    networks:
      - frontend
    command: npm start

  # Database Service (Mysql)
  db:
    image: mysql:latest
    ports:
      - "3306:3306"
    restart: always
    environment:
      MYSQL_DATABASE: javabinks
      MYSQL_USER: root
      MYSQL_PASSWORD: 2c3nx48wvuwxwIo6
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - backend

# Volumes
volumes:
  db-data:

# Networks to be created to facilitate communication between containers
networks:
  backend:
  frontend: